<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1> Hello, {{ user }} </h1>
    <h2> 5 of your friend are: </h2>
    {% for name, surname, link in friends %}
        <p>First name: {{ name }}, second name: {{ surname }}, profile link: <a href="https://vk.com/id{{ link }}">https://vk.com/id{{ link }}</a></p>
    {% endfor %}
    <hr>
    <form action="/est/logout" method="post" id="logout_form">
        <input type="submit" value="Logout" id="logout_button">
    </form>
</body>
</html>