<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1> Hello, {{ user }} </h1>
    <h2> 5 your random friend are: </h2>
    {% for name, surname, link in friends %}
        <p>Name: {{ name }}, surname: {{ surname }}, profile link: {{ link }}</p>
    {% endfor %}
    <hr>
    <form action="/est/logout" method="post" id="logout_form" enctype="multipart/form-data">
        <div class="login">
            <label for="logout_button"></label><input type="submit" value="Logout" id="logout_button">
        </div>
    </form>
</body>
</html>