<!DOCTYPE html>
<html lang="ru_RU">
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="../../static/styles/style.css">
    </head>

    <body>
        <div class="contentHolder">
            <div class="selectHolder">
                <form action="/est/login" method="post" id="login_form" enctype="multipart/form-data">
                    <div class="login">
                        <label for="login_button"></label><input type="submit" value="Login" id="login_button">
                        <label for="keep_login"></label><input type="checkbox" value="Remember me" id="keep_login" name="keep_login"> Remember me
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>