<!DOCTYPE html>
<html lang="ru_RU">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/skeleton.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
</head>
<body>
    <div class="container" style="text-align: center">
        <h1> You need to authorize to use this service</h1>
        <div class="container" style="padding-top: 25px;margin-bottom: -25px">
            <form action="/est/login" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div>
                        <input type="submit" value="Authorise" id="login_button" class="button-primary"/>
                    </div>
                    <div>
                        <label for="keep_login">
                            <input type="checkbox" value="Remember me" id="keep_login" name="keep_login">
                            <span class="label-body">Remember me</span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <hr>
    </div>

    <div class="mfooter">
        <p class="copyright">Created by Georgii Imeshkenov, 2020 ©</p>
    </div>
</body>
</html>